<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>


<p>
    Splurty is a quote generating app for younger family members to learn wisdom from their family elder's. To see quotes click on <%= link_to "This isn't enough, I need more", root_path %>. Alternatively if you would like to contribute a quote please click on <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>. Splurty was built by <a target="_blank" href="http://github.com/HThanki">Harsheek.</a> A life learner trying something new.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Harsheek.JPG', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Harsheek Thanki</h2>
    <br />
    <p>
      Harsheek Thanki is a budding Junior Web developer. Having worked in the public sector for a number of years, he is after a new exciting challenge. In his spare time he enjoys music (listening and playing bass guitar), seeing the world and being active. Currently he is trying his hand at calisthenics.
    </p>
  </div>
<br class="clear" />

</div>  

<br class="clear" />
<br />
<br />
<br />
<br />